@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Lato);

nav div {
 display: inline-block;
}

nav ul {
  text-align: center;
  display: inline-block;
  padding: 2% 3% 5% 4%;
  position: absolute;
  right: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding-left: 5%;
}

nav a {
  font-family: Abel;
  font-size: 3em;
  padding: 0 20px 0px 5px;
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px #000021;
}


#logo img {
  padding-left: 5%;
  max-width: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  float: left;
}


#mission {
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/MedDevCo Background1.jpg");
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}

#tagline {
    padding-top: 5%;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    text-align: center;
    display: block;
    float: center;
    font-family: Abel;
    text-shadow: 3px 3px #000021;
  }

#blurb {
  background-color: white;
  text-align: center;
  font-size: 2em;
  max-width: 1050px;
  text-align: center;
  margin: 0 auto;
  padding: 2% 20%;
  overflow: auto;
}

#blurb h1 {
  font-family: Abel;
  font-size: 2.5em;
  color: #206093;
}

#blurb p {
  font-family: Lato;
  color: #206093;
}

#team {
  background: #222;
  color: white;
  text-align: center;
  padding-top: 3%;
  overflow: auto;
}

#team h1 {
  font-family: Abel;
  font-size: 5em;
}

.gallery {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}

.gallery div {
  font-family: Lato;
  font-size: 1.3em;
  max-width: 43%;
}

.ron {
  padding-left: 5%;
  text-align: left;
}

#ron img {
  max-width: 45%;
  padding-left: 5%;
  float: left;
  margin: 0 25px 4px 0px;
}

#ron h4 {
  text-align: left;
  padding-left: 2%;
}


.avijit {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 5%;
  text-align: left;
}

#avijit img {
  max-width: 45%;
  padding-left: 5%;
  float: left;
  margin: 0 25px 5px 0px;
}

#avijit h4 {
  text-align: left;
  padding-left: 2%;
}

.steve {
  padding-left: 5%;
  text-align: left;
}

#steve img {
  max-width: 45%;
  padding-left: 5%;
  float: left;
  margin: 0 25px 4px 0px;
}

#steve h4 {
  text-align: left;
  padding-left: 2%;
}

.michael {
  padding-left: 5%;
  text-align: left;
}

#michael img {
  max-width: 45%;
  padding-left: 5%;
  float: left;
  margin: 0 25px 4px 0px;
}

#michael h4 {
  text-align: left;
  padding-left: 2%;
}

footer {
  background-color: white;
  height: 18%;
}

footer img {
  max-width: 30%;
  float: left;
  padding: 3% 45% 3% 0;
}

#contactinfo ul {
  padding-top: 3%;
}

#contactinfo li {
  font-size: 1.5em;
  color: #7abc46;
  list-style: none;
}
